*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
oclif.manifest.json

tsconfig.tsbuildinfo

CHANGELOG.md

.DS_Store

# vehicle app repo which is cloned by starting the devContainer
/vehicle-app-repo
